name: Continuous Integration
on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: aiken-lang/setup-aiken@v1
        with:
          version: v1.1.21
      
      - name: Check formatting
        run: aiken fmt --check
      
      - name: Run tests
        run: aiken check
      
      - name: Build validators
        run: aiken build